@model ADA.Models.TB_USUARIO

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<script type="text/javascript">


    function comprobar() {

        var vCod = $("#codigo").val();
        console.log(vCod);

        var vPass = $("#pass").val();
        console.log(vPass);

    }
</script>


<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>:: ADA - OPPLUS ::</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/morrisjs/morris.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/authentication.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
</head>


    <body class="theme-blush authentication sidebar-collapse">
        <!-- Navbar -->
        <form asp-controller="Logeo" asp-action="Entrar" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form">
            <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
                <div class="container">
              


                </div>
            </nav>
            <!-- End Navbar -->
            <div class="page-header">
                <div class="page-header-image" style="background-image:url(/images/login.jpg)"></div>
                <div class="container">
                    <div class="col-md-12 content-center">
                        <div class="card-plain">

                            <div class="header">
                                <div class="logo-container">
                                    <img src="~/images/logo.svg" alt="">
                                </div>
                                <h5>:: ADA ::</h5>
                                <h5>Log in</h5>
                            </div>
                            <div class="content">
                                <div class="input-group input-lg">
                                    <input asp-for="cod_usu" type="text" class="form-control" required />
                                    <span asp-validation-for="cod_usu" class="input-group-addon">
                                        <i class="zmdi zmdi-account-circle"></i>
                                    </span>

                                </div>
                                <div class="input-group input-lg">
                                    <input type="password" asp-for="pas_usu" class="form-control" required />
                                    <span asp-validation-for="pas_usu" class="input-group-addon">
                                        <i class="zmdi zmdi-lock"></i>
                                    </span>

                                </div>
                            </div>
                            <div class="footer text-center">                             
                                <button type="submit" class="btn btn-success btn-round btn-lg btn-block">Entrar</button>
                            </div>

                            <div class="footer text-center">
                                <strong style="color:red">@ViewBag.usuarioInvalido</strong>
                            </div>

                            <div class="footer text-center" >
                                @*asp-action="Registrar"*@
                                <a  style="color:white;"  asp-action="" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrar un nuevo usuario?</a>

                            </div>

                        </div>
                    </div>
                </div>


                <footer class="footer">
                    <div class="container">
                        <nav>

                        </nav>
                        <div class="copyright">
                            &copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>                          
                            ::::::::
                            <span>OPPLUS - Calidad y Tecnologia</span>
                            ::::::::

                        </div>
                    </div>
                </footer>
            </div>
        </form>
            <!-- Jquery Core Js -->
            <script src="~/assets/bundles/libscripts.bundle.js"></script>
            <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->



            <script src="~/assets/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
            <script src="~/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
            <script src="~/assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script><!-- USA Map Js -->
            <script src="~/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob, Count To, Sparkline Js -->

            <script src="~/assets/bundles/datatablescripts.bundle.js"></script>

            <script src="~/assets/bundles/mainscripts.bundle.js"></script>
            <script src="~/assets/js/pages/index.js"></script>
            <script src="~/assets/js/pages/ui/dialogs.js"></script>
            <script src="~/assets/plugins/dropzone/dropzone.js"></script>
            <script>
                $(".navbar-toggler").on('click', function () {
                    $("html").toggleClass("nav-open");
                });
                //=============================================================================
                $('.form-control').on("focus", function () {
                    $(this).parent('.input-group').addClass("input-group-focus");
                }).on("blur", function () {
                    $(this).parent(".input-group").removeClass("input-group-focus");
                });
            </script>
</body>




</html>






@*<div class="row">
        <div class="col-md-8">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <h5>Por favor Logese.</h5>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="cod_usu" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="cod_usu" class="form-control" />
                            <span asp-validation-for="cod_usu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="pass_usu" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input type="password" asp-for="pass_usu" class="form-control" />
                            <span asp-validation-for="pass_usu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrar un nuevo usuario?</a>
                    </p>
                    <p hidden>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </form>
            </section>
        </div>
    </div>*@

@*@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }*@
