@model ADA.Models.Entities.TB_OPPLUS_SOLICITUD

@{
    ViewData["Title"] = "solicitud_Editar_valid";
}

<link href="~/datatable/datatables.min.css" rel="stylesheet" />
<script src="~/datatable/datatables.min.js"></script>

<style>
    label {
        font-size: 12px;
        font-weight: 900;
    }
</style>


<style>
    table tbody tr td {
        font-size: 12px;
    }

    table thead tr th {
        font-size: 12px;
    }

    table tbody tr th {
        font-size: 12px;
    }
</style>

@*<style>
        #idDocTabla {

        transition: opacity 2s ease-in-out 1s;
    }
    </style>*@

<link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">


<!-- Favicon-->
<link rel="stylesheet" href="~/assets/plugins/sweetalert/sweetalert.css" />

<!-- Custom Css -->
<link rel="stylesheet" href="~/assets/css/main.css">
<link rel="stylesheet" href="~/assets/css/color_skins.css">
<!-- SweetAlert Plugin Js -->
<script src="~/assets/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/assets/js/pages/ui/dialogs.js"></script>


<script type="text/javascript">

    function concatena() {

        var numCredito = $('#numCredito').val();

        if ($("#numCredito").val().length < 18) {

            $("#numCredito").val("");
            alert("El Nro de Credito debe tener 18 digitos");
            return;
        }

        //if ($("#numCredito").val().length = 18) {

        //    $("#numCredito").attr('maxlength', '20');
        //    console.log("si");

        //    console.log(numCredito);
        //    var first = numCredito.substr(0, 4);
        //    console.log(first);
        //    var second = numCredito.substr(4, 4);
        //    console.log(second);
        //    var third = numCredito.substr(8, 18);
        //    console.log(third);
        //    console.log(first + '-' + second + '-' + third);

        //    $('#numCredito').val(first + '-' + second + '-' + third);
        //}
    }


    function dniDuplicado() {
        var vDni = $('#dni').val();

        var url = "/Solicitud/Duplicado";
        var data = { "dni": vDni };
        var dataType = "json";

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (response) {
                console.log(response);
                if (response >= 1) {
                    $('#lblExiste').show();
                    setTimeout(
                    function () { $("#lblExiste").fadeOut(500); }, 3000)
                }
                else {
                    $('#lblInexiste').show();
                    setTimeout(
                    function () { $("#lblInexiste").fadeOut(500); }, 3000)
                }
            },
            dataType: dataType
        });
    };

    function longDoc() {

        console.log("entro");
        if ($("#tipoDocumento").val() == "01") {

            console.log("DNI");
            $("#dni").attr('maxlength', '8');
        }
        if ($("#tipoDocumento").val() == "04") {

            console.log("CARNET");
            $("#dni").attr('maxlength', '9');
        }

    };

    function estadoChange() {

        console.log("cambio estado");

        if ($("#solicitudCombo").val() == "101") {
            $('#idDocumento').show();
            $('#rechazoCombo').show();

            console.log("IMPROCEDENTE");
        }

        if ($("#solicitudCombo").val() == "100") {
            $('#idDocumento').hide();
            $('#rechazoCombo').hide();

            console.log("PENDIENTE");
        }

        if ($("#solicitudCombo").val() == "102") {

            $('#idDocumento').show();
            $('#idDictamen').hide();
            $('#rechazoCombo').hide();

            console.log("DUDA");
        }

        if ($("#solicitudCombo").val() == "103") {

            $('#idDocumento').show();
            $('#idDictamen').show();

            console.log("PRE-CONFORMIDAD");
        }

        if ($("#solicitudCombo").val() == "104") {

            $('#idDocumento').hide();


            console.log("OPPLUS");
        }

        if ($("#solicitudCombo").val() == "105") {
            $('#observ').show();
            $('#idDictamen').show();
            console.log("DEVUELTO");
        }

        if ($("#solicitudCombo").val() == "106") {
            $('#observ').hide();
            $('#idDictamen').hide();
            console.log("DESESTIMADO");
        }

        if ($("#solicitudCombo").val() == "107") {

            $('#idDocumento').show();
            $('#idDictamen').show();
            console.log("ASIGNADO A ABOGADO");
        }
        //else
        //{
        //    $('#observ').hide();
        //    $('#idDictamen').hide();
        // }

    };

    function adjuntar() {


        var fileUpload = $("#txtSubirA").get(0);
        var files = fileUpload.files;
        var data = new FormData();
        for (var i = 0; i < files.length ; i++) {
            data.append(files[i].name, files[i]);
        }

        var vCodigo = $('#idCodigo').val();
        var vAFP = $('#idAFP').val();
        //var vDescripcion = $('#txtSubirA').val();
        //var vLink = vCodigo + '-C-' + vDescripcion;
        var vTipoAdjunto = $('#tipoAdjunto').val();

        console.log(vCodigo);
        console.log(vAFP);
        //console.log(vDescripcion);
        //console.log(vLink);
        console.log(vTipoAdjunto);


        console.log("-----------------");

        //tabla de Documentos adjuntos
        var form = $('#idDocTabla');

        $.ajax({
            type: "POST",
            url: "/Solicitud/adjuntarArchivo?codigo=" + vCodigo + "&afp=" + vAFP + "&observacion=" + vTipoAdjunto,
            contentType: false,
            processData: false,
            data: data,
            success: function (jres) {

                if (jres == "OK") {

                    $('#fileOK').show();
                    setTimeout(
                         function () { $("#fileOK").fadeOut(500); }, 3000)

                    //Recargar tabla de documentos
                    $(form).fadeOut(1500, function () {

                        form.load(window.location.href + " #idDocTabla");
                        form.fadeIn().delay(2000);
                    });


                } else {
                    $('#fileERROR').show();
                    setTimeout(
                         function () { $("#fileERROR").fadeOut(500); }, 3000);
                }
            },
        });
        return false;
    };

    function diasLab() {

        var fechaDocSelected = $('#fechaDocumentacion').val();
        var vFechStart = new Date(fechaDocSelected);

        var vFechEnd = new Date();
        var dd = String(vFechEnd.getDate()).padStart(2, '0');
        var mm = String(vFechEnd.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = vFechEnd.getFullYear();

        vFechEnd = dd + '/' + mm + '/' + yyyy;

        var url = "/Solicitud/ExcluirSabDom";
        var data = { startDate: fechaDocSelected, endDate: vFechEnd };
        var dataType = "json";

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (response) {
                console.log(response);
                if (response <= 4) {

                    console.log("menor o igual a 4");
                    $('#lblFechaOk').show();
                    setTimeout(
                    function () { $("#lblFechaOk").fadeOut(500); }, 3000)
                }
                else {
                    console.log("mayor o igual a 3");
                    $('#lblFechaError').show();
                    var fechaDocSelected = $('#fechaDocumentacion').val("");
                    setTimeout(
                    function () { $("#lblFechaERROR").fadeOut(500); }, 3000)
                }
            },
            dataType: dataType
        });


    }


    function confirma() {
        console.log("hiciste click");
        $('#fileOK').show();
        setTimeout(
             function () { $("#fileOK").fadeOut(500); }, 3000)
    }


    function fn_Validar(cod) {

        var url = "/Solicitud/UpdateValidad";
        var data = { vCod: cod };
        var dataType = "json";


        var form = $('#validados');

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (response) {
                if (response == "OK") {

                    $('#validOK').show();
                    setTimeout(
                         function () { $("#validOK").fadeOut(500); }, 3000)
                   
                    
                    $(form).fadeOut(1500, function () {

                        form.load(" #validados");
                        form.fadeIn().delay(2000);
                    });
                }
                else {
                    $('#validFALSE').show();
                    setTimeout(
                         function () { $("#validFALSE").fadeOut(500); }, 3000);
                }           
            },
            
        });

        return false;
    }


    function fn_Conforme() {

        
        var cod = $('#idCodigo').val();
        console.log(cod);

       

        var url = "/Solicitud/updateSolicitudConforme";
        var data = { vCod: cod };
        var dataType = "json";

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (response) {
                if (response == "OK") {

                    alert("Se dio Conformidad a la solicitud");
                    console.log(response);
                }
                else
                {
                    alert("No se actualizo, La Solicitud ya esta conforme");

                 }

            },
            dataType: dataType
        });
    }

    function fn_DevueltoCyber() {

        var obser = $('#idObser').val();        

        var cod = $('#idCodigo').val();
        console.log(cod);

        var url = "/Solicitud/updateSolicitudDevueltoOpplus";
        var data = { vObser:obser, vCod: cod };
        var dataType = "json";

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (response) {

                if (response == "OK") {

                    alert("Se devolvio la solicitud a CYBERGESTION");
                    console.log(response);
                }
                else {
                    alert("Ya se encuentra devuelta");

                }            
               

            },
            dataType: dataType
        });
    }
</script>

<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <h2>
                Main
                <small>Solicitud </small>
            </h2>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 text-right">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Main</a></li>
                <li class="breadcrumb-item active">Solicitud</li>


            </ul>
        </div>
    </div>
</div>


<form asp-action="solicitud_Editar">


    <div class="container-fluid">



        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">

                    <div class="header">
                        <h2><strong>Solicitud</strong> Editar <small></small></h2>
                    </div>

                    <div class="body">
                        <div class="form-horizontal">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group" hidden>
                                <label asp-for="CODIGO" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="CODIGO" class="form-control" id="idCodigo" />
                                    <span asp-validation-for="CODIGO" class="text-danger" />
                                </div>
                            </div>

                            <div class="row clearfix">



                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="FECHA_SOLICITUD_CLIENTE" class="col-md-12 control-label"></label>
                                        @*@{
                                                string fecha_cliente = ViewBag.fechaCliente;

                                                if (fecha_cliente.Equals("0001-01-01"))
                                                {
                                                    fecha_cliente = DateTime.Today.ToString("yyyy-MM-dd HH:mm");
                                                }
                                            }*@

                                        <input type="datetime-local" asp-for="FECHA_SOLICITUD_CLIENTE" name="fecha_cliente" placeholder="Fecha Solicitud Cliente" class="form-control" readonly />

                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="FECHA_RECEPCION_CYBER" class="col-md-12 control-label"></label>
                                        @*@{
                                                string fecha_cyber = ViewBag.fechaCyber;

                                                if (fecha_cyber.Equals("0001-01-01"))
                                                {
                                                    fecha_cyber = DateTime.Today.ToString("yyyy-MM-dd HH:mm");
                                                }
                                            }*@

                                        <input type="datetime-local" asp-for="FECHA_RECEPCION_CYBER" name="fecha_cyber" class="form-control" readonly />

                                    </div>
                                </div>





                                <div class="col-lg-4 col-md-3 col-sm-12">
                                    <div class="btn-group bootstrap-select form-control show-tick">

                                        <label class="col-md-12 control-label">Tipo Doc</label>
                                        <select asp-for="TIPO_DOCUMENTO" id="tipoDocumento" title="-- TIPO DOC --" onchange="longDoc();" class="form-control show-tick" tabindex="-98" required>
                                            <option value="01">L.E / DNI</option>
                                            <option value="04">CARNET EXT.</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="col-md-4 col-sm-12">
                                    <label class="col-md-12 control-label">Nro Doc</label>
                                    <input type="text" asp-for="NUMERO_DOCUMENTO" class="form-control" id="dni" onchange="dniDuplicado();" placeholder="Numero documento" required />
                                    <span asp-validation-for="NUMERO_DOCUMENTO" class="text-danger" />
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <label id="lblExiste" style="color:red; display:none;"><strong>Este DNI ya existe</strong></label>
                                    <label id="lblInexiste" style="color:forestgreen; display:none;"><strong>Este DNI esta disponible</strong></label>
                                </div>
                            </div>

                            <br />



                            <div class="row clearfix">

                                <div class="col-md-6 col-sm-12">
                                    <label class="col-md-12 control-label">Nombres</label>
                                    <input asp-for="NOMBRES" class="form-control" placeholder="Nombres" required />
                                    <span asp-validation-for="NOMBRES" class="text-danger" />
                                </div>

                                <div class="col-md-3 col-sm-12">
                                    <label class="col-md-12 control-label">Ap. Paterno</label>
                                    <input asp-for="APELLIDO_PATERNO" class="form-control" placeholder="Apellido Paterno" required />
                                    <span asp-validation-for="APELLIDO_PATERNO" class="text-danger" />

                                </div>

                                <div class="col-md-3 col-sm-12">
                                    <label class="col-md-12 control-label">Ap. Materno</label>
                                    <input asp-for="APELLIDO_MATERNO" class="form-control" placeholder="Apellido Materno" required />
                                    <span asp-validation-for="APELLIDO_MATERNO" class="text-danger" />
                                </div>

                            </div>

                            <br />

                            <div class="row clearfix">

                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="btn-group bootstrap-select form-control show-tick">
                                        <label asp-for="AFP" class="col-md-8 control-label"></label>

                                        <select asp-for="AFP" asp-items="@(new SelectList(ViewBag.AFPS,"CODIGO","AFP"))" title="-- AFP --" id="idAFP" class="form-control show-tick" tabindex="-98" required></select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <label class="col-md-12 control-label">Fecha de Observacion</label>
                                    <input type="date" asp-for="FECHA_OBSERVACION" class="form-control" />
                                    <span asp-validation-for="FECHA_OBSERVACION" class="text-danger" />
                                </div>


                                <div class="col-md-4 col-sm-12">
                                    <label class="col-md-12 control-label">Fecha de Gestion</label>
                                    <input type="date" asp-for="FECHA_GESTION" class="form-control" />
                                    <span asp-validation-for="FECHA_GESTION" class="text-danger" />
                                </div>

                            </div>

                            <br />


                            <div class="row clearfix">

                                <div class="col-md-4 col-sm-12">
                                    <label class="col-md-12 control-label">Fecha de Asignacion</label>
                                    <input type="date" asp-for="FECHA_ASIGNACION" class="form-control" placeholder="Fecha Observacion" />
                                    <span asp-validation-for="FECHA_ASIGNACION" class="text-danger" />
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <label class="col-md-12 control-label">Fecha Dictamen</label>
                                    <input type="datetime-local" asp-for="FECHA_DICTAMEN" class="form-control" />
                                    <span asp-validation-for="FECHA_DICTAMEN" class="text-danger" />
                                </div>

                                <div class="col-md-3 col-sm-12">
                                    <label class="col-md-12 control-label"> Credito</label>
                                    <input type="text" asp-for="NUM_CREDITO" id="numCredito" onchange="concatena();" maxlength="18" class="form-control" placeholder="Numero de Credito" required />
                                    <span asp-validation-for="NUM_CREDITO" class="text-danger" />

                                </div>

                            </div>


                            <br />

                            <div class="row clearfix">




                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="btn-group bootstrap-select form-control show-tick">

                                        <label class="col-md-12 control-label">Destino</label>
                                        <select asp-for="DESTINO_CREDITO" title="-- DESTINO_CREDITO --" class="form-control show-tick" tabindex="-98" required>
                                            <option value="Amortizacion">Amortizacion</option>
                                            <option value="Cuota Inicial">Cuota Inicial</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="btn-group bootstrap-select form-control show-tick">
                                        <label class="col-md-12 control-label">Modalidad</label>
                                        <select asp-for="MODALIDAD" asp-items="@(new SelectList(ViewBag.MODALIDADES,"CODIGO", "MODALIDAD"))" title="-- MODALIDAD --" class="form-control show-tick" tabindex="-98"></select>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12">
                                    <label class="col-md-12 control-label">AFP 125</label>
                                    <input type="number" asp-for="AFP_125" class="form-control" />
                                    <span asp-validation-for="AFP_125" class="text-danger" />
                                </div>

                            </div>

                            <br />
                            <div class="row clearfix">

                                <div class="col-md-3 col-sm-12">
                                    <div class="btn-group bootstrap-select form-control show-tick">
                                        <label class="col-md-12 control-label">Moneda</label>
                                        <select asp-for="MONEDA" title="-- MONEDA --" class="form-control show-tick" tabindex="-98">
                                            <option value="S">SOLES</option>
                                            <option value="D">DOLARES</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12">
                                    <label class="col-md-12 control-label">Valor Inmueble</label>
                                    <input asp-for="VALOR_INMUEBLE" class="form-control" />
                                    <span asp-validation-for="VALOR_INMUEBLE" class="text-danger" />
                                </div>


                                <div class="col-md-3 col-sm-12">
                                    <div class="btn-group bootstrap-select form-control show-tick">
                                        <label class="col-md-12 control-label">Moneda Inmueble</label>

                                        <select asp-for="MONEDA_INMUEBLE" title="-- MONEDA INMUEBLE --" class="form-control show-tick" tabindex="-98">
                                            <option value="S">SOLES</option>
                                            <option value="D">DOLARES</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <br />


                            <div class="row clearfix">

                                @*<div class="col-md-4 col-md-3 col-sm-12">
                                    <div class="btn-group bootstrap-select form-control show-tick">
                                        <label class="col-md-12 control-label">ESTADO</label>

                                        <select asp-for="ESTADO_SOLICITUD" asp-items="@(new SelectList(ViewBag.ESTADOS,"CODIGO","ESTADO"))" id="solicitudCombo" onchange="estadoChange()" title="-- ESTADO --" class="form-control show-tick" tabindex="-98"></select>
                                    </div>
                                </div>*@


                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="btn-group bootstrap-select form-control show-tick">

                                        <label class="col-md-12 control-label">Estado de Solicitud</label>
                                        <select asp-for="ESTADO_VALIDAR" title="-- ESTADO SOLICITUD--" class="form-control show-tick" tabindex="-98" required>
                                            <option value="PENDIENTE">PENDIENTE</option>
                                            <option value="CONFORME">CONFORME</option>
                                            <option value="NO CONFORME">NO CONFORME</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6 col-sm-12">
                                    <label class="col-md-12 control-label">Motivo de Devolucion</label>
                                    <input type="text" asp-for="OBSER" class="form-control" id="idObser" />
                                    <span asp-validation-for="OBSER" class="text-danger" />
                                </div>


                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>




        @**@
        <div class="row clearfix" id="idDictamen" style="display:none;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Dictamen</strong> Solicitud <small>.</small> </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">








                        </div>
                        <br />


                        <div class="row clearfix">









                        </div>

                        <br />
                        <br />



                    </div>
                </div>
            </div>
        </div>



        <div class="row clearfix" id="idDocTabla">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Documentos</strong> Adjuntos <small>.</small> </h2>
                    </div>

                    <div class="body">

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <div class="table-responsive" style="height:200px;">

                                    <table class="table table-hover m-b-0" id="example">
                                        @{int con = 0;}
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>
                                                    DOCUMENTO
                                                </th>
                                                <th>
                                                    ESTADO
                                                </th>
                                                <th>
                                                    OBSERVACION
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.docsAdjuntos)
                                            {
                                                con = @con + 1;
                                                <tr>
                                                    <td>
                                                        @con
                                                    </td>

                                                    <td>
                                                        <a href="~/uploads/@item.LINK" target="_blank">@item.LINK</a>
                                                    </td>

                                                    <td>
                                                        @item.ESTADO
                                                    </td>
                                                    <th>
                                                        @item.OBSERVACION
                                                    </th>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-7 col-md-12 col-sm-12" >
                <div class="card">
                    <div class="header">
                        <h2><strong>Lista</strong> por validar <small>.</small> </h2>
                    </div>

                    <div class="body"  >

                        <div class="row clearfix" id="validados">
                            <div class="col-lg-12 col-md-12 col-sm-12" >

                                <div class="table-responsive" style="height:200px;" id="validados">

                                    <table class="table table-hover m-b-0">
                                        @{int con2 = 0;}
                                        <thead>
                                            <tr>
                                                <th>#</th>

                                                <th hidden>

                                                </th>
                                                @*<th>
                                                        AFP
                                                    </th>*@
                                                <th>
                                                    NOMBRE
                                                </th>
                                                <th>
                                                    OBSERVACION
                                                </th>
                                                <th>
                                                    ESTADO
                                                </th>



                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.PorValidarlos)
                                            {
                                                con = @con + 1;
                                                <tr>
                                                    <td>
                                                        <small>   @con </small>
                                                    </td>

                                                    <td hidden>
                                                        <small>    @item.ID </small>
                                                    </td>

                                                    @*<td>
                                                            @item.AFP
                                                        </td>*@

                                                    <td>
                                                        <small>@item.NOMBRE</small>
                                                    </td>
                                                    <th>
                                                        @item.OBSERVACION
                                                    </th>
                                                    <th>
                                                        @if (@item.ESTADO == "CONFORME" || @item.OBSERVACION == "VALIDADO AUTOMÁTICO")
                                                        { }
                                                        else
                                                        {
                                                            <span id="btnValidar" class="badge badge-success" onclick="fn_Validar('@item.ID')" style="cursor:pointer">Validar</span>
                                                        }


                                                    </th>



                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-12 col-md-12">
                <a class="btn btn-info" onclick="fn_Conforme();" style="float:right;"><STRONG>Conforme</STRONG></a>
            </div>

            <div class="col-md-offset-12 col-md-12">
                <a class="btn btn-warning" onclick="fn_DevueltoCyber();" style="float:right;"><strong>Devolver a CYBERGESTION</strong></a>
            </div>
        </div>



        <div id="validOK" class="sweet-alert hideSweetAlert visible" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: none; margin-top: -149px;">

            <div class="sa-icon sa-success animate" style="display: block;">
                <span class="sa-line sa-tip animateSuccessTip"></span>
                <span class="sa-line sa-long animateSuccessLong"></span>

                <div class="sa-placeholder"></div>
                <div class="sa-fix"></div>
            </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Se valido correctamente!</h2>

            <div class="sa-button-container">

            </div>
        </div>


        <div id="validFALSE" class="sweet-alert hideSweetAlert visible" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: none; margin-top: -149px;">

            <div class="sa-icon sa-error animate" style="display: block;">
                <span class="sa-line sa-tip animateSuccessTip"></span>
                <span class="sa-line sa-long animateSuccessLong"></span>

                <div class="sa-placeholder"></div>
                <div class="sa-fix"></div>
            </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Ya se encuentra validado</h2>

            <div class="sa-button-container">
            </div>
        </div>

    </div>

   
</form>




<div>
    <a asp-action="solicitud_Validar">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
